@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
.listall {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: rgb(21, 21, 21);
}
.summer {
  display: flex;
  gap: 20px;
  color: whitesmoke;
  font-family: "Noto Sans JP", sans-serif;
  padding-top: 10px;
  font-size: small;
  font-weight: solid;
  justify-content: center;
}
.allssco {
  display: flex;
  gap: 20px;
}
.allsscon {
  display: flex;
  gap: 20px;
}
.wear {
  min-height: 100vh;
  background-image: url(static/image/bikewear.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(207, 201, 201);
  background-blend-mode: multiply;
}
.navbar {
  display: flex;
  gap: 15px;
  color: rgb(222, 222, 222);
  font-size: small;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.allmenu {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5rem;
  &:hover {
    background-color: black;
    cursor: pointer;
    transition: 0.57s ease-in-out;
  }
}

.hflog {
  min-width: 32%;
}

.log {
  display: flex;
  gap: 10px;
  color: whitesmoke;
  font-size: small;
  font-weight: bold;
}
.pincode {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.pin {
  position: relative;
}
.pin::before {
  position: absolute;
  content: "";
  left: 0px;
  width: 0px;
  bottom: -3px;
  height: 2px;
  background-color: beige;
  transition: 0.5s ease-in-out;
}
.pin:hover::before {
  width: 100%;
}
.menu-icon {
  display: none;
  background: none;
  border: none;
  margin-top: 10px;
  color: whitesmoke;
  cursor: pointer;
}
.line {
  border-bottom: rgba(245, 222, 179, 0.425);
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
}
.Navemenu {
  cursor: pointer;
}
.navbar > a {
  color: whitesmoke;
}
.menu {
  position: relative;
}
.menu::before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: -3px;
  height: 2px;
  width: 0px;
  background-color: white;
  transition: 0.5s ease-in-out;
}
.menu:hover::before {
  width: 100%;
}
.butcut {
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin-top: 27rem;
}
#text {
  background-color: whitesmoke;
  display: inline;
  height: 40px;
  width: 90px;
  border: none;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20px;
}
.chat-btn {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-left: 55rem;
  margin-top: 9px;
  padding: 13px 30px;
  color: white;
  border-radius: 30%;
  font-size: large;
  background-color: black;
  transition: 0.3s;
}

.chat-btn:hover {
  background-color: rgba(20, 20, 20, 0.685);
}
.chat-btn:active {
  background-color: hsla(0, 0%, 18%, 0.8);
}
.oure {
  text-align: center;
  font-size: small;
  font-weight: bold;
  color: whitesmoke;
  font-family: "Noto Sans JP", sans-serif;
}

.nw {
  font-size: smaller;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 100px;
  margin-left: 50px;
}
.exsn {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}
.explore {
  font-size: small;
  font-weight: solid;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 10px;
  color: black;
  margin-left: 50px;
}
.sni > a {
  font-size: smaller;
  font-weight: solid;
  font-family: "Noto Sans JP", sans-serif;
  color: black;
  cursor: pointer;
  text-decoration: antiquewhite;
}
.sn {
  position: relative;
}
.sn::before {
  position: absolute;
  content: "";
  left: 0px;
  width: 0px;
  bottom: -3px;
  height: 2px;
  background-color: black;
  transition: 0.5s ease-in-out;
}
.sn:hover::before {
  width: 100%;
}
.box {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 35px;
}
.box1 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/capp.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/capamn.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.box1 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.box1 > span {
  margin-left: 70px;
  font-weight: lighter;
}
.box2 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/HF_Short.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/baggy.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.box2 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.box2 > span {
  margin-left: 70px;
  font-weight: lighter;
}
.box3 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/giant.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/side\ timber.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.box3 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.box3 > span {
  margin-left: 70px;
  font-weight: lighter;
}
.box4 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/hfx.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/hfxpink.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.box4 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.box4 > span {
  margin-left: 70px;
  font-weight: lighter;
}
.boxes {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 160px;
}
.boxes1 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/hfashy.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/hf_black.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.boxes1 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.boxes1 > span {
  margin-left: 70px;
  font-weight: lighter;
}
.boxes2 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/hfhoods.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/hfhoodcpt.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.boxes2 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.boxes2 > span {
  margin-left: 70px;
  font-weight: lighter;
}
.boxes3 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/hfpinky.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/hfpinkywhit.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.boxes3 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.boxes3 > span {
  margin-left: 70px;
  font-weight: lighter;
}
.boxes4 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/hflady.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/hffemcomp.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.boxes4 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.boxes4 > span {
  margin-left: 70px;
  font-weight: lighter;
}
.big {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.bigbox1 {
  width: 50%;
  height: 779px;
  background-color: rgb(201, 192, 192);
  background-blend-mode: multiply;
  background-image: url(static/image/hf2lady.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bio > p {
  color: aliceblue;
  padding-left: 1rem;
  font-weight: bold;
  font-size: small;
  letter-spacing: 4px;
  font-family: "Noto Sans JP", sans-serif;
}
.bio > a {
  color: rgb(165, 34, 34);
  top: 45rem;
  left: 1rem;
  font-weight: bold;
  font-size: larger;
  letter-spacing: 2px;
  font-family: "Noto Sans JP", sans-serif;
  text-decoration: aliceblue;
}
.ex {
  position: relative;
}
.ex::before {
  position: absolute;
  content: "";
  left: 0px;
  width: 0px;
  bottom: -3px;
  height: 1px;
  background-color: rgba(255, 0, 0, 0.817);
  transition: 0.5s ease-in-out;
}
.ex:hover::before {
  width: 100%;
}
.bigbox2 {
  width: 50%;
  height: 779px;
  background-color: rgb(201, 192, 192);
  background-blend-mode: multiply;
  background-image: url(static/image/hfmale.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.xio > p {
  color: aliceblue;
  font-weight: bold;
  padding-left: 1rem;
  font-size: small;
  letter-spacing: 4px;
  font-family: "Noto Sans JP", sans-serif;
}
.xio > a {
  color: rgb(28, 27, 27);
  top: 45rem;
  left: 1rem;
  font-weight: bold;
  font-size: larger;
  letter-spacing: 2px;
  font-family: "Noto Sans JP", sans-serif;
  text-decoration: aliceblue;
}
.xes {
  position: relative;
}
.xes::before {
  position: absolute;
  content: "";
  left: 0px;
  width: 0px;
  bottom: -3px;
  height: 1px;
  background-color: white;
  transition: 0.5s ease-in-out;
}
.xes:hover::before {
  width: 100%;
}
.lin {
  width: 100%;
  margin-top: 100px;
  border: none;
  height: 1px;
  background-color: whitesmoke;
}
.moreshop {
  position: relative;
}
.more > h2 {
  margin-top: 100px;
  font-weight: bolder;
  font-size: small;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}
.moreshop > a {
  position: absolute;
  top: 3rem;
  left: 35rem;
  font-size: small;
  font-family: "Noto Sans JP", sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: antiquewhite;
}
.shoppp {
  position: relative;
}
.shoppp::before {
  position: absolute;
  content: "";
  left: 0px;
  width: 0px;
  bottom: -3px;
  height: 1px;
  background-color: black;
  transition: 0.5s ease-in-out;
}
.shoppp:hover::before {
  width: 100%;
}
.newb {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 70px;
}
.newbox1 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/hf\ colour.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/colorf.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.newbox1 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.newbox1 > span {
  margin-left: 70px;
  font-weight: lighter;
  cursor: pointer;
}

.newbox2 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/baggy.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/capamn.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.newbox2 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.newbox2 > span {
  margin-left: 70px;
  font-weight: lighter;
  cursor: pointer;
}
.newbox3 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/hfhoodcpt.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/giant.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.newbox3 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.newbox3 > span {
  margin-left: 70px;
  font-weight: lighter;
  cursor: pointer;
}
.newbox4 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/hfashy.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/HF_Short.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.newbox4 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.newbox4 > span {
  margin-left: 70px;
  font-weight: lighter;
  cursor: pointer;
}
.lastbox {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
}
.lastbox1 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/bluehf.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/bluehftrou.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.lastbox1 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.lastbox1 > span {
  margin-left: 70px;
  font-weight: lighter;
  cursor: pointer;
}
.lastbox2 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/bluemancompt.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/bluemanhf.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.lastbox2 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.lastbox2 > span {
  margin-left: 70px;
  font-weight: lighter;
  cursor: pointer;
}
.lastbox3 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/blueshort.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/bluetimber.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.lastbox3 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.lastbox3 > span {
  margin-left: 70px;
  font-weight: lighter;
  cursor: pointer;
}
.lastbox4 {
  width: 264px;
  height: 330px;
  background-color: rgb(246, 246, 246);
  background-blend-mode: multiply;
  background-image: url(static/image/colorf.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-image: url(static/image/hf\ colour.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    cursor: pointer;
  }
}
.lastbox4 > p {
  font-size: smaller;
  font-weight: 400px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 350px;
  margin-left: 50px;
}
.lastbox4 > span {
  margin-left: 70px;
  font-weight: lighter;
  cursor: pointer;
}
.foot {
  width: 100%;
  min-height: 83vh;
  margin-top: 15rem;
  background-color: rgb(21, 21, 21);
}
.footimg {
  top: 10rem;
}
.footer-writeUp {
  display: flex;
  justify-content: space-between;
  padding: 5rem 3rem;
}
.highf {
  color: white;
}
.highf > p {
  width: 29rem;
  font-size: small;
  font-weight: bold;
}
.QuickLink {
  color: white;
  list-style: none;
  margin-right: 10rem;
}
.QuickLink > a {
  text-decoration: none;
  color: whitesmoke;
  :hover {
    color: rgba(76, 86, 82, 0.773);
  }
}
.QuickLink > h3 {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 16px;
}
.footerlist {
  padding: 5px;
  cursor: pointer;
}
.shop {
  color: white;
  list-style: none;
}
.shop > h3 {
  font-weight: 900px;
  font-size: 1rem;
  margin-bottom: 16px;
}
.shop > a {
  text-decoration: none;
  color: white;
  :hover {
    color: rgba(76, 86, 82, 0.773);
  }
}
.shoplist {
  font-weight: 900px;
  font-size: 10px;
  cursor: pointer;
}

.intsorder {
  display: flex;
  padding-left: 80px;
  position: relative;
  gap: 4rem;
}
.instagram > a > span {
  position: absolute;
  bottom: 11rem;
}
.hours {
  color: white;
  font-weight: bolder;
  font-size: 0.9rem;
  position: absolute;
  bottom: 7rem;
}
.lekki {
  color: white;
  font-size: small;
  padding-bottom: 25px;
}
.tions {
  font-size: 0.8rem;
  font-weight: bolder;
  text-decoration: underline white;
  text-underline-offset: 3px;
}
.tions > a {
  color: white;
}
.off {
  color: white;
  font-weight: bolder;
  position: absolute;
  bottom: 7rem;
  padding-left: 13rem;
  font-size: small;
}
.nextorder > p {
  color: white;
  font-size: small;
  padding-left: 30px;
  text-align: center;
}
.nextorder > p > a {
  color: white;
}
.copy-copy {
  margin-top: 50px;
  text-align: center;
  color: rgb(177, 180, 180);
}

/* LARGE DESKTOP  */

@media (min-width: 1201px) {
  body {
    font-size: 16px;
  }

  .wear {
    min-height: 100vh;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 16px;
  }

  .hflog {
    min-width: 32%;
  }

  .menu-icon {
    display: none;
  }

  .allmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5rem;
  }

  .Navemenu {
    display: block;
  }

  .log {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .butcut {
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 27rem;
    padding: 0 20px;
  }

  .chat-btn {
    margin-left: 55rem;
    font-size: 18px;
  }

  .oure {
    font-size: 16px;
  }

  .nw {
    font-size: 16px;
  }

  .explore {
    font-size: 16px;
  }

  .sni > a {
    font-size: 16px;
  }

  .box,
  .boxes,
  .newb,
  .lastbox {
    display: grid;
    grid-template-columns: repeat(4, 264px);
    justify-content: center;
    gap: 40px;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .boxes1,
  .boxes2,
  .boxes3,
  .boxes4,
  .newbox1,
  .newbox2,
  .newbox3,
  .newbox4,
  .lastbox1,
  .lastbox2,
  .lastbox3,
  .lastbox4 {
    width: 264px;
    height: 330px;
  }

  .box1 > p,
  .box2 > p,
  .box3 > p,
  .box4 > p,
  .boxes1 > p,
  .boxes2 > p,
  .boxes3 > p,
  .boxes4 > p,
  .newbox1 > p,
  .newbox2 > p,
  .newbox3 > p,
  .newbox4 > p,
  .lastbox1 > p,
  .lastbox2 > p,
  .lastbox3 > p,
  .lastbox4 > p {
    margin-top: 350px;
    margin-left: 0;
    font-size: 14px;
  }

  .box1 > span,
  .box2 > span,
  .box3 > span,
  .box4 > span,
  .boxes1 > span,
  .boxes2 > span,
  .boxes3 > span,
  .boxes4 > span,
  .newbox1 > span,
  .newbox2 > span,
  .newbox3 > span,
  .newbox4 > span,
  .lastbox1 > span,
  .lastbox2 > span,
  .lastbox3 > span,
  .lastbox4 > span {
    margin-left: 0;
    font-size: 14px;
  }

  .big {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .bigbox1,
  .bigbox2 {
    width: 100%;
    height: 779px;
  }

  .bio > p,
  .xio > p {
    font-size: 13px;
  }

  .bio > a,
  .xio > a {
    font-size: 17px;
  }

  .moreshop > a {
    left: 50%;
    transform: translateX(-50%);
  }

  .foot {
    min-height: 30rem;
  }
}

/* LAPTOP  */

@media (min-width: 993px) and (max-width: 1200px) {
  body {
    font-size: 15px;
  }

  .wear {
    min-height: 100vh;
  }

  .allmenu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 4.5rem;
  }

  .Navemenu {
    display: block;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .pincode {
    font-size: 13px;
  }

  .hflog {
    min-width: 30%;
  }

  .menu-icon {
    display: none;
  }

  .log {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .oure {
    font-size: 13px;
  }

  .butcut {
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 27rem;
    padding: 0 20px;
  }

  #text {
    width: 80px;
    height: 38px;
    font-size: 12px;
  }

  #text > option {
    font-size: 12px;
  }

  .chat-btn {
    margin-left: 0;
    padding: 11px 22px;
    font-size: 14px;
  }

  .nw {
    margin-left: 35px;
    font-size: 13px;
  }

  .exsn {
    margin-right: 35px;
  }

  .explore {
    margin-left: 35px;
    font-size: 13px;
  }

  .sni > a {
    font-size: 13px;
  }

  .box,
  .boxes,
  .newb,
  .lastbox {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    padding: 0 25px;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .boxes1,
  .boxes2,
  .boxes3,
  .boxes4,
  .newbox1,
  .newbox2,
  .newbox3,
  .newbox4,
  .lastbox1,
  .lastbox2,
  .lastbox3,
  .lastbox4 {
    width: 100%;
    height: 300px;
  }

  .box1 > p,
  .box2 > p,
  .box3 > p,
  .box4 > p,
  .boxes1 > p,
  .boxes2 > p,
  .boxes3 > p,
  .boxes4 > p,
  .newbox1 > p,
  .newbox2 > p,
  .newbox3 > p,
  .newbox4 > p,
  .lastbox1 > p,
  .lastbox2 > p,
  .lastbox3 > p,
  .lastbox4 > p {
    margin-top: 320px;
    margin-left: 0;
    font-size: 15px;
  }

  .box1 > span,
  .box2 > span,
  .box3 > span,
  .box4 > span,
  .boxes1 > span,
  .boxes2 > span,
  .boxes3 > span,
  .boxes4 > span,
  .newbox1 > span,
  .newbox2 > span,
  .newbox3 > span,
  .newbox4 > span,
  .lastbox1 > span,
  .lastbox2 > span,
  .lastbox3 > span,
  .lastbox4 > span {
    margin-left: 0;
    font-size: 13px;
  }

  .boxes {
    margin-top: 140px;
  }

  .big {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 180px;
  }

  .bigbox1,
  .bigbox2 {
    width: 100%;
    height: 650px;
  }

  .bio > p,
  .xio > p {
    padding-left: 2rem;
    font-size: 12px;
  }

  .bio > a,
  .xio > a {
    top: 37rem;
    left: 2rem;
    font-size: 16px;
  }

  .moreshop {
    margin-top: -4rem;
  }

  .more > h2 {
    font-size: 1rem;
  }

  .shoppp > span {
    font-size: 17px;
  }

  .moreshop > a {
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-writeUp {
    padding: 4rem 2rem;
  }

  .highf > p {
    width: 22rem;
    font-size: 12px;
  }

  .QuickLink {
    margin-right: 3rem;
  }

  .intsorder {
    padding-left: 40px;
  }

  .foot {
    margin-top: 10rem;
    min-height: 65vh;
  }
}

/* TABLET  */

@media (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 14px;
  }

  .wear {
    min-height: 85vh;
  }
  .allmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4rem;
    position: relative;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }

  .navbar > a {
    font-size: 15px;
  }

  .menu-icon {
    display: block;
    font-size: 25px;
    width: 40px;
    height: 40px;
    z-index: 1002;
  }

  .Navemenu {
    position: fixed;
    top: 0;
    left: -280px;
    width: 270px;
    height: 100vh;
    background-color: rgb(21, 21, 21);
    padding: 110px 30px 30px;
    transition: left 0.3s ease;
    z-index: 1001;
  }

  .Navemenu.show {
    left: 0;
  }

  .log {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1rem;
  }

  .hflog {
    min-width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .hflog img {
    max-width: 150px;
  }

  .oure {
    font-size: 12px;
  }

  .butcut {
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 20px;
    margin-top: 50rem;
  }

  #text {
    width: 75px;
    height: 36px;
  }

  #text > option {
    font-size: 11px;
  }

  .chat-btn {
    margin-left: 0;
    padding: 13px 20px;
    font-size: 15px;
  }

  .nw {
    margin-left: 25px;
    font-size: 18px;
  }

  .exsn {
    margin-right: 25px;
  }

  .explore {
    margin-left: 25px;
    font-size: 16px;
  }

  .sni > a {
    font-size: 15px;
  }

  .box,
  .boxes,
  .newb,
  .lastbox {
    display: grid;
    grid-template-columns: repeat(2, minmax(220px, 264px));
    justify-content: center;
    gap: 90px 25px;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .boxes1,
  .boxes2,
  .boxes3,
  .boxes4,
  .newbox1,
  .newbox2,
  .newbox3,
  .newbox4,
  .lastbox1,
  .lastbox2,
  .lastbox3,
  .lastbox4 {
    width: 100%;
    height: 280px;
  }

  .box1 > p,
  .box2 > p,
  .box3 > p,
  .box4 > p,
  .boxes1 > p,
  .boxes2 > p,
  .boxes3 > p,
  .boxes4 > p,
  .newbox1 > p,
  .newbox2 > p,
  .newbox3 > p,
  .newbox4 > p,
  .lastbox1 > p,
  .lastbox2 > p,
  .lastbox3 > p,
  .lastbox4 > p {
    margin-top: 300px;
    margin-left: 0;
    font-size: 17px;
  }

  .box1 > span,
  .box2 > span,
  .box3 > span,
  .box4 > span,
  .boxes1 > span,
  .boxes2 > span,
  .boxes3 > span,
  .boxes4 > span,
  .newbox1 > span,
  .newbox2 > span,
  .newbox3 > span,
  .newbox4 > span,
  .lastbox1 > span,
  .lastbox2 > span,
  .lastbox3 > span,
  .lastbox4 > span {
    margin-left: 0;
    font-size: 15px;
  }

  .boxes {
    margin-top: 120px;
  }

  .big {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
  }

  .bigbox1,
  .bigbox2 {
    width: 100%;
    height: 550px;
  }

  .bio > p,
  .xio > p {
    padding-left: 1.5rem;
    font-size: 14px;
  }

  .bio > a,
  .xio > a {
    top: 31rem;
    left: 1.5rem;
    font-size: 17px;
  }
  .more > h2 {
    font-size: 15px;
  }
  .moreshop {
    margin-top: -3rem;
  }

  .moreshop > a {
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
  }

  .footer-writeUp {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 30px;
    padding: 4rem 2rem;
  }

  .highf > p {
    width: 100%;
    font-size: 13px;
  }

  .QuickLink {
    margin-right: 0;
  }

  .intsorder {
    padding: 0 30px;
    gap: 30px;
  }

  .nextorder > p {
    padding-left: 0;
    font-size: 13px;
  }

  .off {
    padding-left: 0;
    margin-left: 15rem;
    font-size: 11px;
  }

  .foot {
    min-height: 40vh;
  }

  .copy-copy {
    margin-top: 70px;
    font-size: 13px;
  }
}

/* LARGE PHONE / SMALL TABLET  */

@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 13px;
  }

  .listall {
    height: 35px;
  }

  .summer {
    padding-top: 8px;
    font-size: 10px;
  }

  .wear {
    min-height: 80vh;
  }

  .allmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4rem;
    position: relative;
  }

  .menu-icon {
    display: block;
    font-size: 25px;
    width: 40px;
    height: 40px;
    z-index: 1002;
  }

  .Navemenu {
    position: fixed;
    top: 0;
    left: -280px;
    width: 270px;
    height: 100vh;
    background-color: rgb(21, 21, 21);
    padding: 130px 30px 30px;
    transition: left 0.3s ease;
    z-index: 1001;
  }

  .Navemenu.show {
    left: 0;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }

  .navbar > a {
    font-size: 15px;
  }

  .hflog {
    min-width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .hflog img {
    max-width: 150px;
  }

  .log {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .oure {
    margin-top: 10px;
    font-size: 13px;
  }

  .butcut {
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 15px;
    margin-top: 300px;
    align-items: center;
  }

  #text {
    width: 75px;
    height: 35px;
    margin-left: 0;
  }

  #text > option {
    font-size: 6px;
  }

  .chat-btn {
    margin-left: 0;
    padding: 12px 18px;
    font-size: 13px;
  }

  .nw {
    margin-left: 20px;
    margin-top: 70px;
    font-size: 20px;
  }

  .exsn {
    margin-right: 20px;
  }

  .explore {
    margin-left: 20px;
    font-size: 16px;
  }

  .sni > a {
    font-size: 16px;
  }

  .box,
  .boxes,
  .newb,
  .lastbox {
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    gap: 100px 15px;
    padding: 0 20px;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .boxes1,
  .boxes2,
  .boxes3,
  .boxes4,
  .newbox1,
  .newbox2,
  .newbox3,
  .newbox4,
  .lastbox1,
  .lastbox2,
  .lastbox3,
  .lastbox4 {
    width: 100%;
    height: 280px;
  }

  .box1 > p,
  .box2 > p,
  .box3 > p,
  .box4 > p,
  .boxes1 > p,
  .boxes2 > p,
  .boxes3 > p,
  .boxes4 > p,
  .newbox1 > p,
  .newbox2 > p,
  .newbox3 > p,
  .newbox4 > p,
  .lastbox1 > p,
  .lastbox2 > p,
  .lastbox3 > p,
  .lastbox4 > p {
    margin-top: 300px;
    margin-left: 0;
    font-size: 18px;
    line-height: 1.3;
  }

  .box1 > span,
  .box2 > span,
  .box3 > span,
  .box4 > span,
  .boxes1 > span,
  .boxes2 > span,
  .boxes3 > span,
  .boxes4 > span,
  .newbox1 > span,
  .newbox2 > span,
  .newbox3 > span,
  .newbox4 > span,
  .lastbox1 > span,
  .lastbox2 > span,
  .lastbox3 > span,
  .lastbox4 > span {
    margin-left: 0;
    font-size: 16px;
  }

  .boxes {
    margin-top: 120px;
  }

  .big {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
  }

  .bigbox1,
  .bigbox2 {
    width: 100%;
    height: 450px;
  }

  .bio > p,
  .xio > p {
    padding-left: 1rem;
    font-size: 13px;
  }

  .bio > a,
  .xio > a {
    top: 25rem;
    left: 1rem;
    font-size: 16px;
  }

  .more > h2 {
    font-size: 17px;
  }

  .moreshop {
    margin-top: -3rem;
  }

  .moreshop > a {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 16px;
  }

  .footer-writeUp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 3rem 25px;
  }

  .highf {
    grid-column: 1 / -1;
  }

  .highf > p {
    width: 100%;
    font-size: 15px;
  }

  .QuickLink {
    margin-right: 0;
  }

  .intsorder {
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    gap: 50px;
  }

  .instagram > a > span,
  .hours,
  .off {
    position: static;
  }

  .hours {
    margin-top: 20px;
    font-size: 14px;
  }

  .lekki {
    font-size: 13px;
  }

  .off {
    padding-left: 0;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .nextorder > p {
    padding-left: 0;
    text-align: left;
    font-size: 14px;
  }

  .foot {
    min-height: auto;
    margin-top: 8rem;
    padding-bottom: 30px;
  }

  .copy-copy {
    font-size: 14px;
  }
}

/* PHONE */

@media (min-width: 376px) and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .listall {
    height: 32px;
  }

  .summer {
    padding-top: 12px;
    font-size: 10px;
  }

  .wear {
    min-height: 75vh;
  }

  .allmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3rem;
    position: relative;
  }

  .menu-icon {
    display: block;
    font-size: 21px;
    width: 35px;
    height: 35px;
    z-index: 1002;
  }

  .Navemenu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 230px;
    height: 100vh;
    background-color: rgb(21, 21, 21);
    padding: 90px 22px 22px;
    transition: left 0.3s ease;
    z-index: 1001;
  }

  .Navemenu.show {
    left: 0;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
  }

  .hflog {
    min-width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .hflog img {
    max-width: 110px;
  }

  .log {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .log i {
    font-size: 15px;
  }

  .oure {
    font-size: 8px;
    margin-left: 0;
    text-align: center;
  }

  .butcut {
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 10px;
    margin-top: 250px;
  }

  #text {
    width: 65px;
    height: 32px;
    margin-left: 0;
    /* font-size: 10px; */
  }

  #text > option {
    font-size: 10px;
  }

  .chat-btn {
    margin-left: 0;
    padding: 10px 14px;
    font-size: 12px;
  }

  .nw {
    margin-left: 15px;
    margin-top: 60px;
    font-size: 12px;
  }

  .exsn {
    margin-right: 15px;
  }

  .explore {
    margin-left: 15px;
    font-size: 10px;
  }

  .sni > a {
    font-size: 10px;
  }

  .box,
  .boxes,
  .newb,
  .lastbox {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 85px 10px;
    padding: 0 10px;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .boxes1,
  .boxes2,
  .boxes3,
  .boxes4,
  .newbox1,
  .newbox2,
  .newbox3,
  .newbox4,
  .lastbox1,
  .lastbox2,
  .lastbox3,
  .lastbox4 {
    width: 100%;
    height: 220px;
  }

  .box1 > p,
  .box2 > p,
  .box3 > p,
  .box4 > p,
  .boxes1 > p,
  .boxes2 > p,
  .boxes3 > p,
  .boxes4 > p,
  .newbox1 > p,
  .newbox2 > p,
  .newbox3 > p,
  .newbox4 > p,
  .lastbox1 > p,
  .lastbox2 > p,
  .lastbox3 > p,
  .lastbox4 > p {
    margin-top: 235px;
    margin-left: 0;
    font-size: 9.5px;
    line-height: 1.3;
  }

  .box1 > span,
  .box2 > span,
  .box3 > span,
  .box4 > span,
  .boxes1 > span,
  .boxes2 > span,
  .boxes3 > span,
  .boxes4 > span,
  .newbox1 > span,
  .newbox2 > span,
  .newbox3 > span,
  .newbox4 > span,
  .lastbox1 > span,
  .lastbox2 > span,
  .lastbox3 > span,
  .lastbox4 > span {
    margin-left: 0;
    font-size: 9.5px;
  }

  .boxes {
    margin-top: 90px;
  }

  .big {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 120px;
  }

  .bigbox1,
  .bigbox2 {
    width: 100%;
    height: 500px;
  }

  .bio > p,
  .xio > p {
    padding-left: 1rem;
    font-size: 9px;
  }

  .bio > a,
  .xio > a {
    top: 29rem;
    left: 1rem;
    font-size: 13px;
  }

  .moreshop {
    margin-top: -5rem;
  }

  .more > h2 {
    font-size: 11px;
  }

  .moreshop > a {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 10px;
  }

  .footer-writeUp {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 3rem 20px;
  }

  .highf > p {
    width: 100%;
    font-size: 11px;
  }

  .QuickLink {
    margin-right: 0;
  }

  .intsorder {
    flex-direction: column;
    padding: 20px;
    gap: 40px;
  }

  .instagram > a > span,
  .hours,
  .off {
    position: static;
  }

  .hours {
    margin-top: 15px;
    font-size: 11px;
  }

  .lekki {
    font-size: 10px;
  }

  .off {
    padding-left: 0;
    font-size: 11px;
  }

  .nextorder > p {
    padding-left: 0;
    text-align: left;
    font-size: 10px;
    line-height: 1.4;
  }

  .foot {
    min-height: auto;
    margin-top: 8rem;
    padding-bottom: 25px;
  }

  .copy-copy {
    font-size: 10px;
  }
}

/* SMALL PHONE  */

@media (max-width: 375px) {
  body {
    font-size: 11px;
  }

  .listall {
    height: 30px;
  }

  .summer {
    padding-top: 10px;
    font-size: 9px;
  }

  .wear {
    min-height: 72vh;
  }

  .allmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2.8rem;
    position: relative;
  }
  .menu-icon {
    display: block;
    font-size: 19px;
    z-index: 1002;
  }

  .Navemenu {
    position: fixed;
    top: 0;
    left: -230px;
    width: 210px;
    height: 100vh;
    background-color: rgb(21, 21, 21);
    padding: 85px 20px 20px;
    transition: left 0.3s ease;
    z-index: 1001;
  }

  .Navemenu.show {
    left: 0;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .hflog {
    min-width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .hflog img {
    max-width: 95px;
  }

  .log {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .log i {
    font-size: 14px;
  }

  .butcut {
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 8px;
    margin-top: 190px;
  }

  #text {
    width: 50px;
    height: 20px;
    margin-left: 0;
  }

  #text > option {
    font-size: 9px;
  }

  .chat-btn {
    margin-left: 0;
    padding: 9px 12px;
    font-size: 10px;
  }

  .oure {
    font-size: 7px;
    margin-left: 0;
    text-align: center;
  }

  .nw {
    margin-left: 10px;
    margin-top: 50px;
    font-size: 9.5px;
  }

  .exsn {
    margin-right: 10px;
  }

  .explore {
    margin-left: 10px;
    font-size: 8.5px;
  }

  .sni > a {
    font-size: 8.5px;
  }

  .box,
  .boxes,
  .newb,
  .lastbox {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 80px 8px;
    padding: 0 8px;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .boxes1,
  .boxes2,
  .boxes3,
  .boxes4,
  .newbox1,
  .newbox2,
  .newbox3,
  .newbox4,
  .lastbox1,
  .lastbox2,
  .lastbox3,
  .lastbox4 {
    width: 100%;
    height: 190px;
  }

  .box1 > p,
  .box2 > p,
  .box3 > p,
  .box4 > p,
  .boxes1 > p,
  .boxes2 > p,
  .boxes3 > p,
  .boxes4 > p,
  .newbox1 > p,
  .newbox2 > p,
  .newbox3 > p,
  .newbox4 > p,
  .lastbox1 > p,
  .lastbox2 > p,
  .lastbox3 > p,
  .lastbox4 > p {
    margin-top: 205px;
    margin-left: 0;
    font-size: 9.5px;
    line-height: 1.25;
  }

  .box1 > span,
  .box2 > span,
  .box3 > span,
  .box4 > span,
  .boxes1 > span,
  .boxes2 > span,
  .boxes3 > span,
  .boxes4 > span,
  .newbox1 > span,
  .newbox2 > span,
  .newbox3 > span,
  .newbox4 > span,
  .lastbox1 > span,
  .lastbox2 > span,
  .lastbox3 > span,
  .lastbox4 > span {
    margin-left: 0;
    font-size: 9.5px;
  }

  .boxes {
    margin-top: 80px;
  }

  .big {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px;
  }

  .bigbox1,
  .bigbox2 {
    width: 100%;
    height: 400px;
  }

  .bio > p,
  .xio > p {
    padding-left: 0.8rem;
    font-size: 8.5px;
  }

  .bio > a,
  .xio > a {
    top: 23rem;
    left: 0.8rem;
    font-size: 11px;
  }

  .moreshop {
    margin-top: -6rem;
  }

  .more > h2 {
    font-size: 9.5px;
  }

  .moreshop > a {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 8.5px;
  }

  .footer-writeUp {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 15px;
    gap: 30px;
  }

  .highf > p {
    width: 100%;
    font-size: 9.5px;
    line-height: 1.4;
  }

  .QuickLink {
    margin-right: 0;
  }

  .intsorder {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 35px;
  }

  .instagram > a > span,
  .hours,
  .off {
    position: static;
  }

  .hours {
    margin-top: 12px;
    font-size: 9.5px;
    line-height: 1.4;
  }

  .lekki {
    font-size: 8.5px;
    line-height: 1.4;
  }

  .off {
    padding-left: 0;
    font-size: 9.5px;
  }

  .nextorder > p {
    padding-left: 0;
    text-align: left;
    font-size: 8.5px;
    line-height: 1.4;
  }

  .foot {
    min-height: auto;
    margin-top: 6rem;
    padding-bottom: 20px;
  }

  .copy-copy {
    font-size: 8.5px;
  }
}
